* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --violet: brown;
}

body {
  color: pink;
  font-family: sans-serif;
}

h1 {
  font-size: 54px;
  text-transform: uppercase;
}

.container {
  padding: 40px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(64, 141, 224);
}

#gameboard {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.box {
  height: 150px;
  width: 150;
  display: flex;
  justify-content: center;
  align-items: center;
  color: let(-- red);
  font-size: 150px;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: let(-- orange);
  color: black;
  border-color: let(-- blue);
  font-size: 15px;
  transition: 200ms transform;
}

button:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
